.icon {
    background-color: var(--bs-light);
    border-radius: .25rem;
    text-align: center;
    /* margin: 5px; */
}

.icons {
    background-color: var(--bs-light);
    border-radius: .25rem;
    /* text-align: center; */
    /* margin: 5px; */
}

.bi {
    margin: .5rem;
    font-size: 1.5rem;
}

.bis {
    margin: .5rem;
    font-size: 1.7rem;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

.radius {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.main {
    background-color: white;
    /*padding: 20px;
    */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.diviser {
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.separation {
    width: 45%;
}

.header {
    text-align: center;
    font-weight: 400;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(128, 193, 255);
    color: white;
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 10px rgb(231, 231, 231);
    border-bottom: 3px solid grey;
}


/* *************** */

form {
    padding: 30px;
}


/* form p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-image: linear-gradient(to right, rgb(155, 229, 155), rgb(47, 212, 122));
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

input[type=datetime-local] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    background-image: linear-gradient(to right, rgb(155, 229, 155), rgb(47, 212, 122));
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

input[type=submit]:hover {
    text-shadow: 0 0 5px white;
    font-size: 1.1em;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.cancel {
    cursor: pointer;
    text-align: center;
    background-image: linear-gradient(to right, rgb(255, 192, 181), tomato);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.cancel a {
    text-decoration: none;
    color: white;
    display: block;
}

.cancel:hover {
    text-shadow: 0 0 5px white;
    font-size: 1.1em;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}